@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 94%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 94%;
    --muted-foreground: 0 0% 40%;
    --accent: 0 0% 94%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 88%;
    --input: 0 0% 88%;
    --ring: 0 0% 0%;
    --radius: 0rem;
  }

  .dark {
    --background: 220 10% 4%;
    --foreground: 0 0% 98%;
    --card: 220 10% 6%;
    --card-foreground: 0 0% 98%;
    --popover: 220 10% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 220 10% 4%;
    --secondary: 220 10% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 10% 12%;
    --muted-foreground: 0 0% 60%;
    --accent: 220 10% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 10% 12%;
    --input: 220 10% 12%;
    --ring: 0 0% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
